h1, h2, h3, h4, h5, h6, code, span, div, a {
    font-family: Vazir, serif !important;
}

header#MyHeader {
    transition: padding-top 0.3s ease, background-color 0.3s ease;
}

.scrolledMyHeader {
    background-color: white;
    border-radius: 0 0 20px 20px;
    opacity: 90%;
}
@media screen and (min-width:640px ) {
    .scrolledMyHeader {
        padding: .5rem 2rem !important;
    }
}

@keyframes ChangeColorHeader {
    from {
        filter: hue-rotate(0);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

#BannerHeader {
    animation: ChangeColorHeader 7s infinite;
}
